---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const pageTitle = '私について';
const identity = {
  firstName: 'サラ',
  country: 'カナダ',
  occupation: '技術ライター',
  hobbies: ['写真', 'バードウォッチング', '野球'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'ドキュメントの執筆'];
const happy = true;
const finished = false;
const goal = 3;
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: green;
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>... そして私の新しいAstroサイトについて！</h2>
    <p>私はAstroの入門チュートリアルを進めています。これは私のウェブサイトの2番目のページで、自分で作った初めてのページです！</p>
    <p>このサイトはチュートリアルを進めるにつれて更新されていきます。定期的にチェックして、私の旅の様子を見に来てください！</p>
    <p>以下は私に関するいくつかの事実です。</p>
    <ul>
      <li>私の名前は{identity.firstName}です。</li>
      <li>
        {identity.country}に住んでおり、{identity.occupation}として働いています。
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。
          </li>
        )
      }
    </ul>
    <p>私のスキルは以下の通りです。</p>
    <ul>
      {skills.map((skill) => <li class="skill font-bold">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}

    {finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}
    <Footer />
  </body>
</html>
